In [1]:
import json

# Ouverture du fichier JSON
with open('databaseJSON.json', 'r') as f:
    data = json.load(f)
ind = 20
listVille = []
associatedFeature = []
nbrePlace = []
nbreParking = []
# Boucle sur chaque enregistrement
for record in data['records']:
    
    # Extraction des informations du parking
    idParking = ind
    nameParking = record['fields']['name']
    nbrPlace = record['fields']['space_count']
    try :
        prix_1h = record['fields']['cost_1h']
    except :
        prix_1h = "NULL"
    estGratuit = record['fields']['is_free']
    try :
        hauteur = record['fields']['max_height']
    except :
        hauteur = 500.0
    idLocalisation = ind+1
    idPlaceSpeciales = ind+2
    
    # Requête SQL pour insérer les informations du parking dans la table "parking"
    query_parking = "INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, localisation_id, placeSpeciales_id) VALUES ({}, '{}', {}, {}, {}, {}, {}, {});".format(idParking, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales)
     # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la localisation
    
    
    # Extraction des informations des places spéciales
    idPlaceSpeciales = ind # Vérifie si l'enregistrement a des places spéciales
    try :
        nbrVoitureElectrique = record['fields']['electric_car_count']
    except :
        nbrVoitureElectrique = 0
    try :
        nbrVelos = record['fields']['bike_count']
    except :
        nbrVelos = 0
    #nbrConvoiturage = record['fields']['cost_1h'] on a pas ?
    #nbrHandicapes = record['fields']['cost_1h']
        # Requête SQL pour insérer les informations de la place spéciale dans la table "places_speciales"
    query_place_speciale = "INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES ({}, {}, {});".format(idPlaceSpeciales, nbrVelos,nbrVoitureElectrique)
         # Affiche la requête SQL générée
    ind +=1
    # Extraction des informations de la ville
    if record['fields']['com_name'] not in listVille:
        #idVille = id
        #depVille = record['fields']['dep_code']
        #nom = record['fields']['com_name']
        #regVille = record['fields']['reg_name']
        listVille.append(record['fields']['com_name'])
        associatedFeature.append([int(record['fields']['dep_code']),(record['fields']['reg_name'])])
        nbrePlace.append(nbrPlace)
        nbreParking.append(1)
    else :
        index_ville = listVille.index(record['fields']['com_name'])
        nbrePlace[index_ville]+=nbrPlace
        nbreParking[index_ville]+=1
        
       
    id_localisation = ind 
    coordoneeGps = record['fields']['geo_point_2d']
    adresse = record['fields']['address']
    photo = "photo"+str(record['fields']['name'])
    idVille = listVille.index(record['fields']['com_name'])
    
    # Requête SQL pour insérer les informations de la localisation dans la table "localisation"
    query_localisation = "INSERT INTO localisation (id, adresse, photo, ville_id) VALUES ({}, '{}', '{}', {});".format(id_localisation, adresse, photo, idVille)
    print(query_localisation) # Affiche la requête SQL générée
    print(query_place_speciale)
    print(query_parking)
    # Requête SQL pour insérer les informations de la ville dans la table "ville"
    #query_ville = "INSERT INTO ville (insee_code, dep_code, com_name, reg_name) VALUES ('{}', '{}', '{}', '{}');".format(insee_code_ville, dep_code_ville, com_name_ville,reg_name_ville)
    ind+=1
for i in range(len(listVille)):
    idVille = i
    depVille = associatedFeature[i][0]
    nom = listVille[i]
    regVille = associatedFeature[i][1]
    nbre_Place = nbrePlace[i]
    nbre_Parking = nbreParking[i]
    query_ville = "INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES ({}, '{}', {}, {}, {}, '{}');".format(idVille, nom, nbre_Parking, nbre_Place,depVille,regVille)
    print(query_ville)

INSERT INTO localisation (id, adresse, photo, idVille) VALUES (22, 'Avenue des Nations Unies, 59170, Roubaix', 'photoParking GRAND RUE', 0);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (21, 20, 4);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (20, 'Parking GRAND RUE', 1286, 1.4, 0, 215.0, 20, 20);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (25, 'Avenue Carnot, 59000, Lille', 'photoParking Opera', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (24, 0, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (23, 'Parking Opera', 546, 1.7, 0, 190.0, 23, 23);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (28, 'Boulevard d'Alsace, 59000, Lille', 'photoPorte d Arras', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (27, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (26, 'Porte d Arras', 100, NULL, 1, 200.0, 26, 26);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (31, 'Place de la Republique, 59000, Lille', 'photoParking Republique', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (30, 0, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (29, 'Parking Republique', 353, 1.4, 0, 190.0, 29, 29);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (34, 'Place du General de Gaulle, 59000, Lille', 'photoParking Grand Place', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (33, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (32, 'Parking Grand Place', 422, 2.8, 0, 180.0, 32, 32);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (37, 'Rue Neuve, 59170, Roubaix', 'photoParking CENTRE', 0);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (36, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (35, 'Parking CENTRE', 80, 1.2, 0, 500.0, 35, 35);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (40, 'Avenue Allende, 59200, Tourcoing', 'photoParking Miss Cavell', 2);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (39, 0, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (38, 'Parking Miss Cavell', 273, 0.8, 0, 190.0, 38, 38);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (43, 'Avenue Nelson Mandela, 59160, Capinghem', 'photoSaint Philibert', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (42, 36, 12);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (41, 'Saint Philibert', 311, NULL, 1, 220.0, 41, 41);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (46, 'Rue de la Bienfaisance, 59200, Tourcoing', 'photoParking Hotel de Ville', 2);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (45, 15, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (44, 'Parking Hotel de Ville', 434, 0.8, 0, 190.0, 44, 44);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (49, 'Place Rihour, 59000, Lille', 'photoParking Rihour-Printemps', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (48, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (47, 'Parking Rihour-Printemps', 300, 2.0, 0, 220.0, 47, 47);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (52, 'place Bartelemy Dorez, 59000, Lille', 'photoPorte des Postes', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (51, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (50, 'Porte des Postes', 90, NULL, 1, 200.0, 50, 50);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (55, 'Rue du president Vincent Auriol, 59170, Roubaix', 'photoParking CHURCHILL', 0);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (54, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (53, 'Parking CHURCHILL', 505, 1.9, 0, 190.0, 53, 53);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (58, 'Rue des Anges, 59200, Tourcoing', 'photoParking St Christophe', 2);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (57, 0, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (56, 'Parking St Christophe', 757, 0.8, 0, 190.0, 56, 56);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (61, '89 rue Nationale, 59000, Lille', 'photoParking Plaza', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (60, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (59, 'Parking Plaza', 300, NULL, 0, 190.0, 59, 59);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (64, '70 rue du Molinel, 59000, Lille', 'photoParking Les Tanneurs', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (63, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (62, 'Parking Les Tanneurs', 563, 2.8, 0, 180.0, 62, 62);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (67, 'Rue du pont de Neuville,59200, Tourcoing', 'photoPont de Neuville', 2);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (66, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (65, 'Pont de Neuville', 42, NULL, 1, 210.0, 65, 65);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (70, '6 rue de la Riviere, 59000, Lille', 'photoParking Bethune-Lafayette', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (69, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (68, 'Parking Bethune-Lafayette', 595, NULL, 0, 500.0, 68, 68);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (73, '2 Avenue Henri Poincare, 59350, Villeneuve d'Ascq', 'photo4 Cantons', 3);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (72, 98, 12);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (71, '4 Cantons', 2088, NULL, 1, 200.0, 71, 71);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (76, 'Avenue Jean Baptiste Lebas, 59480, La Bassee', 'photoLa Bassee', 4);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (75, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (74, 'La Bassee', 166, NULL, 1, 200.0, 74, 74);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (79, 'Facade de l'Esplanade, 59000, Lille', 'photoParking Liberte', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (78, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (77, 'Parking Liberte', 525, 1.6, 0, 500.0, 77, 77);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (82, 'Boulevard Eugene Duthoit, 59000, Lille', 'photoCHU – Eurasante', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (81, 36, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (80, 'CHU – Eurasante', 250, NULL, 1, 200.0, 80, 80);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (85, 'Rue de Tournai, 59000, Lille', 'photoParking Gare Lille Flandres', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (84, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (83, 'Parking Gare Lille Flandres', 374, 3.1, 0, 185.0, 83, 83);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (88, 'Quai de la Deule,59136, Sainghin en weppes', 'photoDon Sainghin', 5);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (87, 68, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (86, 'Don Sainghin', 467, NULL, 1, 200.0, 86, 86);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (91, 'Facade Esplanade, 59000, Lille', 'photoParking Petit Paradis', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (90, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (89, 'Parking Petit Paradis', 293, 1.2, 0, 500.0, 89, 89);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (94, 'Avenue du Peuple Belge, 59000, Lille', 'photoParking Vieux Lille', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (93, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (92, 'Parking Vieux Lille', 312, 2.0, 0, 190.0, 92, 92);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (97, 'Rue de Wattiessart, 59113, Seclin', 'photoSeclin', 6);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (96, 100, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (95, 'Seclin', 370, NULL, 1, 210.0, 95, 95);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (100, '11 Place Pierre Semard, 59200, Tourcoing', 'photoGare de Tourcoing', 2);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (99, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (98, 'Gare de Tourcoing', 90, NULL, 1, 500.0, 98, 98);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (103, 'Rue Charles Watteeuw, 59170, Roubaix', 'photoParking Mac Arthur Glen (Lannoy Gambetta)', 0);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (102, 15, 4);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (101, 'Parking Mac Arthur Glen (Lannoy Gambetta)', 1261, NULL, 0, 190.0, 101, 101);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (106, 'Place de la Gare, 59280, Armentieres', 'photoArmentieres', 7);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (105, 68, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (104, 'Armentieres', 450, NULL, 1, 210.0, 104, 104);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (109, 'Avenue de Cologne, 59000, Lille', 'photoParking Gare Lille Europe', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (108, 15, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (107, 'Parking Gare Lille Europe', 806, 1.9, 0, 190.0, 107, 107);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (112, '164 Avenue Willy Brandt, 59000, Lille', 'photoParking Euralille', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (111, 40, 6);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (110, 'Parking Euralille', 2796, 1.9, 0, 190.0, 110, 110);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (115, '19 place Mendes France,59000, Lille', 'photoParking Nouveau Siecle', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (114, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (113, 'Parking Nouveau Siecle', 933, 1.3, 0, 230.0, 113, 113);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (118, 'Boulevard de Turin, 59000, Lille', 'photoParking Tours', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (117, 0, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (116, 'Parking Tours', 1074, 1.9, 0, 190.0, 116, 116);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (121, 'Rue du moulin Delmar, 59650, Villeneuve d'Ascq', 'photoLes Pres 1', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (120, 45, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (119, 'Les Pres 1', 550, NULL, 1, 210.0, 119, 119);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (124, 'Rue de la Halle, 59170, Roubaix', 'photoParking LA POSTE', 0);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (123, 0, 0);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (122, 'Parking LA POSTE', 80, NULL, 0, 500.0, 122, 122);
INSERT INTO localisation (id, adresse, photo, idVille) VALUES (127, 'Boulevard des Cites Unies, 59000, Lille', 'photoParking Grand Palais', 1);
INSERT INTO placespeciales (id, nbrVelos,nbrVoitureElectrique) VALUES (126, 12, 3);
INSERT INTO parking (id, nameParking,nbrPlace,prix_1h, estGratuit, hauteur, idLocalisation, idPlaceSpeciales) VALUES (125, 'Parking Grand Palais', 1165, 1.9, 0, 280.0, 125, 125);
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (0, 'Roubaix', 5, 3212, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (1, 'Lille', 21, 12658, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (2, 'Tourcoing', 5, 1596, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (3, 'Villeneuve-d'Ascq', 1, 2088, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (4, 'La Bassée', 1, 166, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (5, 'Sainghin-en-Weppes', 1, 467, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (6, 'Seclin', 1, 370, 59, 'Hauts-de-France');
INSERT INTO ville (id, nom, nbrParking, nbrPlace,depVille,regVille) VALUES (7, 'Armentières', 1, 450, 59, 'Hauts-de-France');